#$ cat /etc/systemd/system/ehforwarderbot.service
#systemctl enable ehforwarderbot.service

[Unit]
Description=EH Forwarder Bot instance
After=network.target
Wants=network.target
Documentation=https://github.com/blueset/ehForwarderBot

[Service]
Type=simple
Environment='EFB_PROFILE=bmw' 'LANG=en_US.UTF-8' 'PYTHONIOENCODING=utf_8' 'EFB_DATA_PATH=/root/.ehforwarderbot'
ExecStart=/usr/local/bin/ehforwarderbot --verbose --profile=${EFB_PROFILE}
Restart=on-abort
KillSignal=SIGINT
StandardOutput=journal
StardardError=journal

[Install]
WantedBy=multi-user.target
Alias=efb.service

### 登录二维码
### apt install qrencode
### journalctl -u ehforwarderbot | grep https://login.weixin.qq.com | awk '{print $6}'|tail -1 |sed 's/qrcode/l/g' | qrencode -o - -t UTF8
